{% extends "layout.twig" %}
{% block content %}
<div class="container py-5">
    <div class="text-center mb-5">
        <h2 class="display-4 fw-bold text-primary mb-3">Penilaian Pegawai</h2>
        <p class="lead text-muted">Silahkan berikan nilai pelayanan yang diberikan petugas kami.</p>
        <div class="border-bottom border-3 w-25 mx-auto my-4"></div>
    </div>

    <div class="px-4">
        <div class="row row-cols-1 row-cols-md-3 g-4" id="employee-list"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.get('/pegawai', function (data) {
            const pegawai = JSON.parse(data);

            pegawai.forEach(function (item) {
                $('#employee-list').append(`
                <div class="col">
                    <div class="card h-100" data-pid="${item.employee_id}">
                        <img src="/assets/img/EMPLOYEE.jpg" class="card-img-top" alt="Thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">${item.employee_name}</h5>
                            <div class="card-text text-secondary small">${item.employee_about}</div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-success" data-rate="5"><i class="bi bi-hand-thumbs-up-fill me-2"></i>Bagus</button>
                            <button class="btn btn-outline-primary my-2" data-rate="3"><i class="bi bi-hand-thumbs-up me-2"></i>Lumayan</button>
                            <button class="btn btn-outline-danger" data-rate="1"><i class="bi bi-hand-thumbs-down me-2"></i>Buruk</button>
                        </div>
                    </div>
                </div>
                `)
            })

            $("button").click(function () {
                const pid = $(this).parent().parent().attr("data-pid");
                const rate = $(this).attr("data-rate");

                alert(`Siiippp! PID: ${pid} Rate: ${rate}`);

            })
        })
    })
</script>
{% endblock %}