{% extends "layout.twig" %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Penilaian Layanan</h5>
                            <p class="card-text">Isi kuesioner tentang layanan administrasi kependudukan.</p>
                            <a href="/penilaian-layanan" class="btn btn-primary">Isi Kuesioner</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Penilaian Pegawai</h5>

                            <p class="card-text">Silahkan berikan penilaian pada petugas pelayanan kami.</p>
                            <a href="/penilaian-pegawai" class="btn btn-primary">Berikan Nilai</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-bottom text-center p-4 small text-secondary fst-italic text-uppercase">
            &copy;2024 Disdukcapil Kab. Tapin
        </div>
    </div>
</div>
{% endblock %}