{% extends "layout.twig" %}
{% block content %}
<div class="content">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h2 class="display-4 fw-bold text-primary mb-3">Penilaian Layanan</h2>
            <p class="lead text-muted">Silahkan isi kuesioner berikut untuk memberikan penilaian pelayanan kami.</p>
            <div class="border-bottom border-3 w-25 mx-auto my-4"></div>
        </div>

        <form id="quest">
            <div class="mb-3 border rounded-3 bg-white">
                <div class="mx-2 p-4 border-bottom">
                    <div class="fw-bold mb-3 required">Jenis Kelamin</div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="gender" value="1" checked>
                        <label class="form-check-label">
                            Laki-laki
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" value="2">
                        <label class="form-check-label">
                            Perempuan
                        </label>
                    </div>
                </div>
                <div class="mx-2 p-4 border-bottom">
                    <div class="fw-bold mb-3 required">Nama Lengkap</div>
                    <div>
                        <input type="text" class="form-control form-control-lg w-75" name="name" autocomplete="off"
                            required>
                    </div>
                </div>
                <div class="mx-2 p-4 border-bottom">
                    <div class="fw-bold mb-3 required">Email / Nomor Telepon / WhatsApp</div>
                    <div>
                        <input type="text" class="form-control form-control-lg w-75" name="contact" autocomplete="off"
                            required>
                    </div>
                </div>
                <div class="mx-2 p-4 border-bottom">
                    <div class="fw-bold mb-3 required">Umur</div>
                    <input type="number" class="form-control form-control-lg w-25" name="age" autocomplete="off"
                        required>
                </div>
                <div class="mx-2 p-4 border-bottom">
                    <div class="fw-bold mb-3 required">Pendidikan</div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="study" value="SD">
                        <label class="form-check-label">
                            SD
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="study" value="SMP">
                        <label class="form-check-label">
                            SMP
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="study" value="SMA" checked>
                        <label class="form-check-label">
                            SMA
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="study" value="S1">
                        <label class="form-check-label">
                            S1
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="study" value="S2">
                        <label class="form-check-label">
                            S2
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="study" value="S3">
                        <label class="form-check-label">
                            S3
                        </label>
                    </div>
                </div>
                <div class="mx-2 p-4 border-bottom">
                    <div class="fw-bold mb-3 required">Pekerjaan</div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="job" value="PNS">
                        <label class="form-check-label">
                            PNS
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="job" value="TNI">
                        <label class="form-check-label">
                            TNI
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="job" value="POLRI">
                        <label class="form-check-label">
                            POLRI
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="job" value="SWASTA">
                        <label class="form-check-label">
                            SWASTA
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="job" value="WIRAUSAHA">
                        <label class="form-check-label">
                            WIRAUSAHA
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="job" value="LAINNYA" checked>
                        <label class="form-check-label">
                            LAINNYA
                        </label>
                    </div>
                </div>
                <div class="mx-2 p-4 border-bottom">
                    <div class="fw-bold mb-3 required">Jenis Pelayanan yang diterima</div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="product[]" value="KTP">
                        <label class="form-check-label">
                            KTP
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="product[]" value="KIA">
                        <label class="form-check-label">
                            KIA
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="product[]" value="KARTU KELUARGA">
                        <label class="form-check-label">
                            KARTU KELUARGA
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="product[]" value="SURAT PINDAH">
                        <label class="form-check-label">
                            SURAT PINDAH
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="product[]" value="AKTA KELAHIRAN">
                        <label class="form-check-label">
                            AKTA KELAHIRAN
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="product[]" value="AKTA KEMATIAN">
                        <label class="form-check-label">
                            AKTA KEMATIAN
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="product[]" value="AKTA PERKAWINAN">
                        <label class="form-check-label">
                            AKTA PERKAWINAN
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="product[]" value="LAINNYA">
                        <label class="form-check-label">
                            LAINNYA
                        </label>
                    </div>
                </div>
            </div>
            <div class="p-3 fw-bold fs-4  bg-secondary-subtle border text-center">
                SURVEI PERSEPSI KUALITAS PELAYANAN
            </div>
            <div class="my-2">
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        1. Informasi Pelayanan pada unit layanan ini tersedia melalui media
                        elektronik maupun non elektronik?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_1" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_1" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_1" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_1" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        2. Persyaratan pelayanan yang diinformasikan sesuai dengan persyaratan yang
                        diterapkan unit layanan ini?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_2" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_2" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_2" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_2" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        3. Prosedur/alur pelayanan yang ditetapkan unit layanan ini mudah
                        diikuti/dilakukan?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_3" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_3" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_3" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_3" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        4. Jangka waktu penyelesaian pelayanan yang diterima Bapak/Ibu sesuai dengan
                        yang ditetapkan unit layanan ini?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_4" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_4" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_4" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_4" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        5. Tarif/biaya pelayanan yang dibayarkan pada unit layanan ini sesuai dengan tarif/biaya yang
                        ditetapkan (GRATIS)?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_5" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_5" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_5" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_5" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        6. Sarana Prasarana pendukung pelayanan/sistem pelayanan online yang disediakan unit layanan ini
                        memberikan kenyamanan/mudah digunakan?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_6" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_6" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_6" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_6" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        7. Petugas pelayanan/sistem pelayanan online pada unit layanan ini merespon keperluan Bapak/Ibu
                        dengan cepat?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_7" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_7" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_7" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_7" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        8. Layanan konsultasi dan pengaduan yang disediakan unit layanan ini mudah digunakan/diakses?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_8" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_8" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_8" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_8" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
            </div>
            <div class="p-3 fw-bold fs-4  bg-danger-subtle border text-center">
                SURVEI PERSEPSI ANTI KORUPSI
            </div>
            <div class="mt-2">
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        1. Tidak ada diskriminasi pelayanan pada unit layanan ini?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_9" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_9" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_9" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_9" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        2. Tidak ada pelayanan diluar prosedur/kecurangan pada unit layanan ini?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_10" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_10" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_10" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_10" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        3. Tidak ada penerimaan imbalan uang/barang/fasilitas diluar ketentuan yang berlaku pada unit
                        layanan ini?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_11" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_11" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_11" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_11" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        4. Tidak ada pungutan liar (pungli) pada unit layanan ini?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_12" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_12" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_12" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_12" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
                <div class="card p-4 my-2">
                    <div class="mb-3 required">
                        5. Tidak ada pencaloan/perantara tidak resmi pada unit layanan ini?
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_13" value="1">
                        <label class="form-check-label">
                            a. Tidak Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_13" value="2">
                        <label class="form-check-label">
                            b. Kurang Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_13" value="3" checked>
                        <label class="form-check-label">
                            c. Setuju
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="quest_13" value="4">
                        <label class="form-check-label">
                            d. Sangat Setuju
                        </label>
                    </div>
                </div>
                <div class="mt-3 p-3 card">
                    <label for="suggest" class="form-label fw-bold">KRITIK DAN SARAN</label>
                    <textarea name="suggest" id="suggest" class="form-control"
                        placeholder="Maksimal 200 karakter.."></textarea>
                </div>
                <div class="mt-3 mb-5">
                    <button type="submit" class="btn btn-lg btn-primary w-100 fw-bold">Kirim Penilaian</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/assets/js/app.js"></script>
{% endblock %}