{% extends "layout.twig" %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Survei Kepuasan Masyarakat</h5>
                            <p class="card-text">Isi kuesioner tentang kepuasan masyarakat terhadap layanan administrasi
                                kependudukan.</p>
                            <a href="/survei-kepuasan-masyarakat" class="btn btn-primary">Isi Kuesioner</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Survei Zona Integritas</h5>
                            <p class="card-text">Survei hasil pembangunan Zona Integritas pada Dinas Kependudukan dan
                                Pencatatan Sipil Kab. Tapin
                            </p>
                            <a href="/survei-pembangunan-zi" class="btn btn-primary">Isi Kuesioner</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-bottom text-center p-4 small text-secondary fw-bold text-uppercase">
            &copy;2024 Disdukcapil Kab. Tapin
        </div>
    </div>
</div>
{% endblock %}