{% extends "layout.twig" %}
{% block content %}
<div class="container">
    <div class="min-vh-100 d-flex justify-content-center align-items-center">
        <div class="card p-4">
            <div class="card-header">
                <h1>Login</h1>
            </div>
            <div class="card-body">
                <form action="/login" method="POST">
                    <div class="form-group mb-2">
                        <label class="form-label" for="password">Masukkan password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Masuk</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}